/* 相对于当前组件模板内部的元素  */

:host .btn {
    color: #fff;
}

/* 只有当它同时带有 theme-light CSS 类的时候才会生效 */

:host(.theme-blue) .btn {
    background-color: #428bca;
    border-color: #357ebd;
}
:host(.theme-blue) .btn:hover, :host(.theme-blue) .btn:focus {
    background-color: #3071a9;
    border-color: #285e8e;
}

:host(.theme-green) .btn {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
:host(.theme-green) .btn:hover, :host(.theme-green) .btn:focus {
    background-color: #449d44;
    border-color: #398439;
}

:host(.theme-red) .btn {
    background-color: #d9534f;
    border-color: #d43f3a;
}
:host(.theme-red) .btn:hover, :host(.theme-red) .btn:focus {
    background-color: #c9302c;
    border-color: #ac2925;
}

/* 它在当前组件宿主元素的祖先节点中查找 CSS 类，直到文档的根节点为止。 */
/* index.html中<my-app class="theme-index">Loading...</my-app> */
:host-context(.theme-index) h2 {
  color: #000;
}
