main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    overflow: auto;
}

main.theme-blue {
    background: #3071a9;
}

main.theme-green { 
    background: #449d44;
}

main.theme-red {
    background: #c9302c;
}