<img src="assets/images/angular.png">
<h2>Example</h2>
<a [routerLink]="['/form']" class="btn btn-lg" (click)="setTitle( 'Angular2 form' )">Form（表单）</a>
<a [routerLink]="['/form-builder']" class="btn btn-lg" (click)="setTitle( 'Angular2 FormBuilder' )">FormBuilder</a>
<a [routerLink]="['/form-validation']" class="btn btn-lg" (click)="setTitle( 'Angular2 form' )">Validations（验证）</a>
<a [routerLink]="['/http']" class="btn btn-lg" (click)="setTitle( 'Angular2 Http' )">Http（请求）</a>
<a [routerLink]="['/http-search']" class="btn btn-lg" (click)="setTitle( 'Angular2 Http (Search Demo)' )">Http (Search Demo)</a>
<a [routerLink]="['/route']" class="btn btn-lg" (click)="setTitle( 'Angular2 Route' )">Route（路由）</a>
<a [routerLink]="['/auth']" class="btn btn-lg" (click)="setTitle( 'Angular2 Auth(守卫)' )">Auth(守卫)</a>
<a [routerLink]="['/directive']" class="btn btn-lg" (click)="setTitle( 'Angular2 Directive' )">Directive（指令）</a>
<a [routerLink]="['/pipe']" class="btn btn-lg" (click)="setTitle( 'Angular2 Pipe' )">Pipe（通道）</a>
<a [routerLink]="['/communication']" class="btn btn-lg" (click)="setTitle( 'Angular2 组件交互' )">组件交互</a>
<a [routerLink]="['/dep-injection']" class="btn btn-lg" (click)="setTitle( 'Angular2 依赖注入' )">依赖注入</a>
<a [routerLink]="['/rxjs']" class="btn btn-lg" (click)="setTitle( 'Angular2 Rxjs' )">Rxjs</a>
<!--<a [routerLink]="['/redux']" class="btn btn-lg" (click)="setTitle( 'Angular2 Redux' )">Redux</a>-->
<a [routerLink]="['/advanced']" class="btn btn-lg" (click)="setTitle( 'Angular2 Advanced' )">Advanced</a>
<a [routerLink]="['/lazy']" class="btn btn-lg" (click)="setTitle( 'Angular2 懒加载' )">懒加载</a>
<h2>Component</h2>
<a [routerLink]="['/stomp']" class="btn btn-lg" (click)="setTitle( 'Angular2 Stomp' )">Stomp（通信）</a>
<a [routerLink]="['/tab']" class="btn btn-lg" (click)="setTitle( 'Angular2 Tab' )">Tab（选项卡）</a>
<a [routerLink]="['/accordion']" class="btn btn-lg" (click)="setTitle( 'Angular2 Accordion' )">Accordion（手风琴）</a>
<a [routerLink]="['/collapse']" class="btn btn-lg" (click)="setTitle( 'Angular2 Collapse' )">Collapse（折叠）</a>
<a [routerLink]="['/baiduMap']" class="btn btn-lg" (click)="setTitle( 'Angular2 baiduMap' )">百度地图</a>
<a [routerLink]="['/modal']" class="btn btn-lg" (click)="setTitle( 'Angular2 Moddal' )">Modal（模态框）</a>