<img src="assets/images/angular.png">
<h2>Example</h2>
<a [routerLink]="['/form']" class="btn btn-lg" (click)="setTitle( 'Angular2 form' )">Form</a>
<a [routerLink]="['/form-builder']" class="btn btn-lg" (click)="setTitle( 'Angular2 FormBuilder' )">FormBuilder</a>
<a [routerLink]="['/form-validation']" class="btn btn-lg" (click)="setTitle( 'Angular2 form' )">Validations</a>
<a [routerLink]="['/http']" class="btn btn-lg" (click)="setTitle( 'Angular2 Http' )">Http</a>
<a [routerLink]="['/http-search']" class="btn btn-lg" (click)="setTitle( 'Angular2 Http (Search Demo)' )">Http (Search Demo)</a>
<a [routerLink]="['/route']" class="btn btn-lg" (click)="setTitle( 'Angular2 Route' )">Route</a>
<a [routerLink]="['/auth']" class="btn btn-lg" (click)="setTitle( 'Angular2 Auth(守卫)' )">Auth(守卫)</a>
<a [routerLink]="['/directive']" class="btn btn-lg" (click)="setTitle( 'Angular2 Directive' )">Directive</a>
<a [routerLink]="['/pipe']" class="btn btn-lg" (click)="setTitle( 'Angular2 Pipe' )">Pipe</a>
<a [routerLink]="['/communication']" class="btn btn-lg" (click)="setTitle( 'Angular2 组件交互' )">组件交互</a>
<a [routerLink]="['/dep-injection']" class="btn btn-lg" (click)="setTitle( 'Angular2 依赖注入' )">依赖注入</a>
<a [routerLink]="['/rxjs']" class="btn btn-lg" (click)="setTitle( 'Angular2 Rxjs' )">Rxjs</a>
<!--<a [routerLink]="['/redux']" class="btn btn-lg" (click)="setTitle( 'Angular2 Redux' )">Redux</a>-->
<a [routerLink]="['/advanced']" class="btn btn-lg" (click)="setTitle( 'Angular2 Advanced' )">Advanced</a>
<a [routerLink]="['/loadchildren']" class="btn btn-lg" (click)="setTitle( 'Angular2 Loadchildren' )">懒加载</a>
<h2>Component</h2>
<a [routerLink]="['/stomp']" class="btn btn-lg" (click)="setTitle( 'Angular2 Stomp' )">Stomp</a>
<a [routerLink]="['/tab']" class="btn btn-lg" (click)="setTitle( 'Angular2 Tab' )">Tab</a>
